@import "../abstracts/mixins";

.btn:link,
.btn:visited {
  display: inline-flex;
  @extend %flex-center;
  //min-width: 20.7rem;
  height: 5.2rem;
  padding: 1.5rem 4.5rem;
  border-radius: 100px;
  font-size: 1.7rem;
  color: $color-dark-3xl;
  letter-spacing: 0.102rem;
}

.button_primary:link,
.button_primary:visited {
  background-color: $color-primary;
  transition: all .2s;
}

.button_secondary:link,
.button_secondary:visited {
  box-shadow: inset 0 0 0 2px $color-primary;
  transition: all .2s;
}

.button_primary:hover,
.button_primary:active,
.button_secondary:hover,
.button_secondary:active {
  background-color: $color-primary-light;
  box-shadow: inset 0 0 0 2px $color-primary-light;
}

.btn_circle,
.btn_circle:link,
.btn_circle:visited {
  @extend %flex;
  @extend %flex-center;
  width: 5.2rem;
  height: 5.2rem;
  border-radius: 50%;

  transition: all .2s;
  font-size: 1.7rem;

  letter-spacing: 0.102rem;
  text-align: center;
}

.btn_circle:link,
.btn_circle:visited {
  box-shadow: inset 0 0 0 2px $color-primary;
  color: $color-dark-3xl;
}

.btn_circle {
  box-shadow: inset 0 0 0 2px $color-dark-s;
  color: $color-dark-s;
}

.btn_circle:hover {
  background-color: $color-primary-light;
  box-shadow: inset 0 0 0 2px $color-primary-light;
}

.btn_circle:active {
  background-color: $color-primary;
  box-shadow: inset 0 0 0 2px $color-primary;
}

.btn__left:link,
.btn__left:visited {
  box-shadow: inset 0 0 0 2px $color-dark-s;
  color: $color-dark-s;
}

.nav_link,
.nav_link:link,
.nav_link:visited {
  font-family: Arial, sans-serif;
  font-size: 1.5rem;
  line-height: 1.6;
  display: inline-block;
  border-bottom: 3px solid transparent;
  transition: all .2s;
}

.nav_link,
.nav_link:active {
  border-bottom: 3px solid $color-primary;
}

.nav_link__dark,
.nav_link__dark:link,
.nav_link__dark:visited,
.nav_link__dark:active, {
  color: $color-dark-l;
  transition: all .2s;
}

.nav_link__dark:hover {
  color: $color-dark-3xl;
}

.nav_link__light,
.nav_link__light:link,
.nav_link__light:visited {
  color: $color-dark-s;
  transition: all .2s;
}

.nav_link__light:hover,
.nav_link__light:active {
  color: $color-light-s;
}

.burger-icon {
  position: absolute;
  top: 29px;
  right: 20px;
  width: 3rem;
  height: 2px;
  background: $color-primary;

  &:before {
    content: "";
    position: absolute;
    top: 10px;
    width: 3rem;
    height: 2px;
    background: $color-primary;
  }

  &:after {
    content: "";
    position: absolute;
    top: -10px;
    width: 3rem;
    height: 2px;
    background: $color-primary;
    transform: translateX(-14%);
  }

  display: none;
}

.burger-icon_dark {
  position: absolute;
  top: 29px;
  right: 20px;
  width: 3rem;
  height: 2px;
  background: #000000;

  &:before {
    content: "";
    position: absolute;
    top: 10px;
    width: 3rem;
    height: 2px;
    background: #000000;
  }

  &:after {
    content: "";
    position: absolute;
    top: -10px;
    width: 3rem;
    height: 2px;
    background: #000000;
    transform: translateX(-14%);
  }

  display: none;
}

@include respond(big-phone) {
  .burger-icon {
    display: block;
  }

  .burger-icon_dark {
    display: block;
  }
}