.card-item {
  width: 27rem;
  height: 43.5rem;
  background-color: $color-light-s;
  border-radius: 0.9rem;
  overflow: hidden;
  transition: all 0.2s;
}

.card_img {
  width: 27rem;
  height: 27rem;
}

.card-item:hover {
  box-shadow: 0 0.2rem 3.2rem 1.4rem rgba(#0D0D0D0A, 0.04);
  background-color: $color-light-xl;
  cursor: pointer;

  .button_secondary:link,
  .button_secondary:visited {
    background-color: $color-primary-light;
    box-shadow: inset 0 0 0 2px $color-primary-light;
  }
}
