.logo:link,
.logo:visited {
  min-width: 18.4rem;
  height: 6rem;
  @extend %flex-col;
  justify-content: space-between;
  transition: all 0.4s;

}

.logo__title {
  font-size: 3.2rem;
  font-weight: 400;
  letter-spacing: 0.192rem;
}

.logo__subtitle {
  font-family: Arial, sans-serif;
  font-size: 1.3rem;
  padding-left: 0.4rem;
  letter-spacing: 0.13rem;
}

.logo_color {
  .logo__title {
    color: $color-primary;
  }

  .logo__subtitle {
    color: $color-light-xl;
  }
}

.logo_dark {
  .logo__title {
    color: $color-dark-l;
  }

  .logo__subtitle {
    color: $color-dark-3xl;
  }
}

.logo:hover,
.logo:active {
  transform: scale(1.05);
  filter: brightness(80%);
}
