.donation {
  gap: 3.1rem;
}

.donation_img {
  margin: 1.1rem 0;
}

.donation_text-box {
  @extend %flex-col;
  width: 38rem;
  gap: 2rem;
}

.credit-card:link,
.credit-card:visited {
  @extend %flex;
  align-items: center;
  gap: 1.5rem;
  border-radius: 0.9rem;
  background-color: $color-primary;
  padding: 1rem 1.5rem;
  transition: all 0.2s;
}

.credit-card:hover,
.credit-card:active {
  filter: brightness(90%);
}

 @include respond(tab-port) {
    .donation_text-box {
      order: -1;
  }

   .donation {
  gap: 4.8rem;
}
}