@import "../abstracts/mixins";
@import "../abstracts/placeholders";
@import "../abstracts/variables";

.header-box {
  @extend %flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.nav {
  @extend %flex;
  gap: 3.6rem;
}


.mobile-nav-box {
  display: none;
}

.mobile-nav {
  display: none;
}

@include respond(big-phone) {
  .nav {
    display: none;
  }

  .mobile-nav-box {
    display: inline-block;
    width: 100%;
    position: fixed;
    height: 100vh;
    top: 0;
    right: 0;
    backdrop-filter: brightness(100%);
    transition: .5s;

    .mobile-nav {
      position: fixed;
      top: 0;
      right: 0;
      display: flex;
      flex-direction: column;
      gap: 3.6rem;
      height: 100vh;
      width: 32rem;
      justify-content: center;
      align-items: center;
      transform: translateX(100%);
      transition: .5s;

      &_dark {
      background-color: $color-dark-3xl;
    }

      &_light {
      background-color: $color-light-xl;
    }

      .nav_link,
      .nav_link:link,
      .nav_link:visited {
        font-family: Arial, sans-serif;
        font-size: 3.2rem;
        line-height: 1.6;
        //color: $color-light-s;
        z-index: 888;
      }
    }
  }

  .mobile-nav-box_active {
    backdrop-filter: brightness(20%);
    z-index: 998;

    .mobile-nav {
      transform: translateX(0);
    }
  }


}

@include respond(phone) {
  .header-box {
    padding: 0 2rem;
  }
}
