.pets-box {
  @extend %flex-col;
  @extend %flex-center;
  gap: 5.99rem;
}

.card-box {
  gap: clamp(1.2rem, 4vw, 5.3rem);
}

.cards-list {
  @extend %flex;
  justify-content: space-between;
  //gap: clamp(4rem, 4vw, 8.9rem);
  flex-wrap: nowrap;
}

.curr {
  left: 0;
  //background-color: pink;
}

.prev {
  left: -110%;
  //background-color: green;
}

.next {
  left: 110%;
  //background-color: navy;
}

.cards-list-box {
  position: relative;
  @extend %flex;
  width: clamp(57rem, 76vw, 98.8rem);
  height: 43.5rem;
  overflow: hidden;
  flex-wrap: nowrap;

  & .cards-list {
    position: absolute;
    top: 0;
    width: 100%;
  }
}

.card-item {
  @extend %flex-col;
  align-items: center;
  gap: 3rem;
  flex-shrink: 0;
}

.pets-header {
  display: inline-block;
  transform: translateX(1px) translateY(-0.09px);
}

@include respond(tab-land) {
  //.cards-list {
  //  gap: 4rem;
  //}

  .card-box {
    gap: 1.2rem;
  }
}

@include respond(tab-port) {
  //.card-item.page1:last-child {
  //  display: none;
  //}

  .cards-list {
    gap: 2.9rem;
    justify-content: center;
  }

  .cards-list-box {
    width: 57rem

  }
}

@include respond(big-phone) {
  .card-box {
    row-gap: 6rem;
  }

  .cards-list {
    justify-content: center;
  }

  .card-box .btn_circle {
    order: 2;
  }

  .card-box .btn_circle:first-child {
    margin-right: 10rem;
  }
}

@include respond(phone) {
  //.card-item.page1:nth-child(2) {
  //  display: none;
  //}


  .card-box {
    width: 27rem;
    gap: 7.8rem;
    row-gap: 2rem;
  }

  .pets-box {
    gap: 4.1rem;
  }

  .card-box .btn_circle:first-child {
    margin-right: 0;
  }
}
