.pets-box {
  @extend %flex-col;
  @extend %flex-center;
  gap: 5.99rem;
}

.card-box {
  gap: clamp(1.2rem, 4vw, 5.3rem);
}

.cards-list {
  width: 100%;
  flex-shrink: 0;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.curr {
  //background-color: pink;
  order: 2;
}

.prev {
  order: 1;
  //background-color: green;
}

.next {
  order: 3;
  //background-color: navy;

}

.cards-list-box {
  display: flex;
  width: clamp(57rem, 76vw, 98.8rem);
  //background-color: red;
  height: 43.5rem;
  overflow: hidden;
  gap: 10%;

}

.card-item {
  @extend %flex-col;
  align-items: center;
  gap: 3rem;
  flex-shrink: 0;
}

.pets-header {
  display: inline-block;
  transform: translateX(1px) translateY(-0.09px);
}

@include respond(tab-land) {
  .card-box {
    gap: 1.2rem;
  }
}

@include respond(tab-port) {
  .cards-list {
    gap: 2.9rem;
    justify-content: center;
  }

  .cards-list-box {
    width: 57rem
  }
}

@include respond(big-phone) {
  .card-box {
    row-gap: 6rem;
  }

  .cards-list {
    justify-content: center;
  }

  .card-box .btn_circle {
    order: 2;
  }

  .card-box .btn_circle:first-child {
    margin-right: 10rem;
  }
}

@include respond(phone) {
  .card-box {
    width: 27rem;
    gap: 7.8rem;
    row-gap: 2rem;
  }

  .pets-box {
    gap: 4.1rem;
  }

  .card-box .btn_circle:first-child {
    margin-right: 0;
  }
}
