.start-box {
  width: 46rem;
  min-height: 32.2rem;
  @extend %flex-col;
  justify-content: space-between;
  align-self: center;
  transform: translateY(-4rem);
}

.start-box__header {
  width: 32.2rem;
  transform: translateY(0.1rem);
}

.start-img {
  margin-left: auto;
}

@include respond(tab-land) {
  .start-box {
    margin: 0 auto;
    transform: translateY(0);
  }

  .start-img {
    max-width: 69.8rem;
    min-width: 26rem;
    width: 80.37%;
    height: auto;
  }

  .start-box .align-self__start {
    align-self: center;
  }
}

@include respond(phone) {
  .start-box {
    text-align: center;
  }


  .start-box__header {
    max-width: 20rem;
    margin: 0 auto;
    transform: translateY(0);
  }

  .start-box {
    max-width: 46rem;
    min-height: 29.6rem;
  }
}