.start-section .container {
  gap: 4.2rem;
  flex-wrap: nowrap;
}

.start-box {
  width: 46rem;
  min-height: 32.2rem;
  @extend %flex-col;
  justify-content: space-between;
  align-self: center;
  transform: translateY(-4rem);
  flex-shrink: 0;
}

.start-box__header {
  width: 32.2rem;
  transform: translateY(0.1rem);
}

.start-img {
  max-width: 69.8rem;
  min-width: 26rem;
  width: 80.37%;
  height: auto;
  margin-left: auto;
}

@include respond(tab-land) {
  .start-box {
    margin: 0 auto;
    transform: translateY(0);
  }

  .start-box .align-self__start {
    align-self: center;
  }
}
@include respond(tab-port) {
  .start-section .container {
    gap: 0;
    flex-wrap: wrap;
  }
}

@include respond(phone) {
  .start-box {
    flex-shrink: 1;
    text-align: center;
  }


  .start-box__header {
    max-width: 20rem;
    margin: 0 auto;
    transform: translateY(0);
  }

  .start-box {
    max-width: 46rem;
    min-height: 29.6rem;
  }
}