.start-box {
  width: 46rem;
  height: 32.2rem;
  @extend %flex-col;
  justify-content: space-between;
  align-self: center;
  transform: translateY(-4rem);
}

.start-box__header {
  width: 32.2rem;
  transform: translateY(0.1rem);
}

.start-img {
  margin-left: auto;
}

@include respond(tab-land) {
  .start-box {
    margin: 0 auto;
    transform: translateY(0);
  }

  .start-img {
    max-width: 69.8rem;
    width: 80.37%;
    height: auto;
  }

}