@import "../abstracts/mixins";

.container {
  max-width: 128rem;
  width: 100%;
  padding: 0 4rem;
  margin: 0 auto;

  //@include respond(desktop) {
  //
  //}

  @include respond(tab-land) {
    padding: 0 3rem;
  }

  @include respond(big-phone) {
    padding: 0 2rem;
  }

  @include respond(phone) {
    padding: 0 1rem;
    //overflow: hidden;
  }
}


.light-xl {
  color: $color-light-xl;
}

.bg_light-xl {
  background-color: $color-light-xl;
}

.dark-s {
  color: $color-dark-s;
}

.flex {
  @extend %flex;
}

.flex-col {
  @extend %flex-col;
}

.flex__center {
  @extend %flex-center;
}

.align-self__start {
  align-self: start;
}

.text-align-center {
  text-align: center;
}

.padding_top-12 {
  padding-top: 12rem;
}

.padding_top-20 {
  padding-top: 20rem !important;

  @include respond(phone) {
   padding-top: 16.15rem !important
  }
}