@font-face {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  src:
          url('../fonts/georgia/georgia-regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Georgia';
  font-style: italic;
  font-weight: 400;
  src: url('../fonts/georgia/georgia-italic.ttf') format('truetype');
}

@font-face {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/georgia/georgia-bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Georgia';
  font-style: italic;
  font-weight: 700;
  src: url('../fonts/georgia/georgia-bold-italic.ttf') format('truetype');
}

@font-face {
  font-family: 'Arial';
  src: url('../fonts/arial/arial-regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Arial';
  font-style: italic;
  font-weight: 400;
  src: url('../fonts/arial/arial-italic.ttf') format('truetype');
}

@font-face {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/arial/arial-bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/arial/arial-black.ttf') format('truetype');
}

@font-face {
  font-family: 'Arial';
  font-style: italic;
  font-weight: 700;
  src: url('../fonts/arial/arial-bold-italic.ttf') format('truetype');
}

body {
  font-family: 'Georgia', serif;
  font-size: 1.5rem;
  font-weight: 400;
  color: $color-dark-l;
}

.header_primary,
.header_2,
.header_3,
.header_4,
.header_5 {
  font-weight: 400;
}

.header_primary {
  color: $color-light-xl;
}

.header_primary,
.header_2 {
  font-size: 4.4rem;
  line-height: 1.3;
}

.header_3 {
  font-size: 3.5rem;
  line-height: 1.3;
  letter-spacing: 0.21rem;
}

.header_4 {
  font-size: 2rem;
  line-height: 1.15;
  letter-spacing: 0.12rem;
}

.header_5 {
  font-size: 1.5rem;
  line-height: 1.1;
  letter-spacing: 0.09rem;
}

.paragraph-l {
  font-family: 'Arial', sans-serif;
  font-size: 1.5rem;
  line-height: 1.6;
  color: $color-dark-xl;
}

.paragraph-s {
  font-family: 'Arial', sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
  font-style: italic;
  color: $color-dark-m;
}

@include respond(phone) {
  .header_2,
  .header_3 {
    font-size: 2.5rem;
    line-height: 1.3;
    text-align: center;
    letter-spacing: 0.15rem;
  }
}