.help-box {
  @extend %flex-col;
  @extend %flex-center;
  gap: 5.99rem;
  @extend %text-align;
}

.help-list {
  list-style: none;
  @extend %flex;
  @extend %flex-center;
  flex-wrap: wrap;
  gap: 11.95rem;
  row-gap: 5.3rem;
}

.help-item {
  @extend %flex-col;
  @extend %flex-center;
  gap: 3rem;
}

.help-icon {
  width: 6rem;
  height: 6rem;
}

@include respond(tab-land) {
  .help-box {
    gap: 5.8rem;
  }
}

@include respond(tab-port) {
  .help-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 6.4rem;
    row-gap: 5.5rem;
  }
}

@include respond(phone) {
  .help-box {
    gap: 4.2rem;
  }

  .help-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 3.6rem;
    row-gap: 3rem;
  }

  .help-icon {
    width: 5rem;
    height: 5rem;
  }

  .help-item {
    gap: 2.1rem;

    & .header_4 {
      font-size: 1.5rem;
      line-height: 1.1;
      letter-spacing: 0.09rem;
    }
  }


}