.footer-item, .donation_text-box, .help-item, .help-box, .card-item, .pets-box, .about-text, .start-box, .logo:link,
.logo:visited, .flex-col {
  display: flex;
  flex-direction: column;
}

.start-section, .footer-contacts, .footer-list, .credit-card:link,
.credit-card:visited, .help-list, .cards-list, .about-box, .nav, .header-box, .btn_circle,
.btn_circle:link,
.btn_circle:visited, .flex {
  display: flex;
  flex-wrap: wrap;
}

.help-item, .help-list, .help-box, .pets-box, .about-box, .btn_circle,
.btn_circle:link,
.btn_circle:visited, .btn:link,
.btn:visited, .flex__center {
  align-items: center;
  justify-content: center;
}

.help-box {
  text-align: center;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

a:link,
a:visited {
  text-decoration: none;
  color: inherit;
}

@font-face {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/georgia/georgia-regular.ttf") format("truetype");
}
@font-face {
  font-family: "Georgia";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/georgia/georgia-italic.ttf") format("truetype");
}
@font-face {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/georgia/georgia-bold.ttf") format("truetype");
}
@font-face {
  font-family: "Georgia";
  font-style: italic;
  font-weight: 700;
  src: url("../fonts/georgia/georgia-bold-italic.ttf") format("truetype");
}
@font-face {
  font-family: "Arial";
  src: url("../fonts/arial/arial-regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Arial";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/arial/arial-italic.ttf") format("truetype");
}
@font-face {
  font-family: "Arial";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/arial/arial-bold.ttf") format("truetype");
}
@font-face {
  font-family: "Arial";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/arial/arial-black.ttf") format("truetype");
}
@font-face {
  font-family: "Arial";
  font-style: italic;
  font-weight: 700;
  src: url("../fonts/arial/arial-bold-italic.ttf") format("truetype");
}
body {
  font-family: "Georgia", serif;
  font-size: 1.5rem;
  font-weight: 400;
  color: #545454;
}

.header_primary,
.header_2,
.header_3,
.header_4,
.header_5 {
  font-weight: 400;
}

.header_primary {
  color: #FFFFFF;
}

.header_primary,
.header_2 {
  font-size: 4.4rem;
  line-height: 1.3;
}

.header_3 {
  font-size: 3.5rem;
  line-height: 1.3;
  letter-spacing: 0.21rem;
}

.header_4 {
  font-size: 2rem;
  line-height: 1.15;
  letter-spacing: 0.12rem;
}

.header_5 {
  font-size: 1.5rem;
  line-height: 1.1;
  letter-spacing: 0.09rem;
}

.paragraph-l {
  font-family: "Arial", sans-serif;
  font-size: 1.5rem;
  line-height: 1.6;
  color: #4C4C4C;
}

.paragraph-s {
  font-family: "Arial", sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
  font-style: italic;
  color: #B2B2B2;
}

@media only screen and (max-width: 36em) {
  .header_2,
  .header_3 {
    font-size: 2.5rem;
    line-height: 1.3;
    text-align: center;
    letter-spacing: 0.15rem;
  }
}
.container {
  max-width: 128rem;
  width: 100%;
  padding: 0 4rem;
  margin: 0 auto;
}
@media only screen and (max-width: 76.0625em) {
  .container {
    padding: 0 3rem;
  }
}
@media only screen and (max-width: 47.9375em) {
  .container {
    padding: 0 2rem;
  }
}
@media only screen and (max-width: 36em) {
  .container {
    padding: 0 1rem;
  }
}

.light-xl {
  color: #FFFFFF;
}

.bg_light-xl {
  background-color: #FFFFFF;
}

.dark-s {
  color: #CDCDCD;
}

.align-self__start {
  align-self: start;
}

.text-align-center {
  text-align: center;
}

.padding_top-12 {
  padding-top: 12rem;
}

.padding_top-20 {
  padding-top: 20rem !important;
}
@media only screen and (max-width: 36em) {
  .padding_top-20 {
    padding-top: 16.15rem !important;
  }
}

.btn:link,
.btn:visited {
  display: inline-flex;
  height: 5.2rem;
  padding: 1.5rem 4.5rem;
  border-radius: 100px;
  font-size: 1.7rem;
  color: #292929;
  letter-spacing: 0.102rem;
}

.button_primary:link,
.button_primary:visited {
  background-color: #F1CDB3;
  transition: all 0.2s;
}

.button_secondary:link,
.button_secondary:visited {
  box-shadow: inset 0 0 0 2px #F1CDB3;
  transition: all 0.2s;
}

.button_primary:hover,
.button_primary:active,
.button_secondary:hover,
.button_secondary:active {
  background-color: #FDDCC4;
  box-shadow: inset 0 0 0 2px #FDDCC4;
}

.btn_circle,
.btn_circle:link,
.btn_circle:visited {
  width: 5.2rem;
  height: 5.2rem;
  border-radius: 50%;
  transition: all 0.2s;
  font-size: 1.7rem;
  letter-spacing: 0.102rem;
  text-align: center;
}

.btn_circle:link,
.btn_circle:visited {
  box-shadow: inset 0 0 0 2px #F1CDB3;
  color: #292929;
}

.btn_circle {
  box-shadow: inset 0 0 0 2px #CDCDCD;
  color: #CDCDCD;
}

.btn_circle:hover {
  background-color: #FDDCC4;
  box-shadow: inset 0 0 0 2px #FDDCC4;
}

.btn_circle:active {
  background-color: #F1CDB3;
  box-shadow: inset 0 0 0 2px #F1CDB3;
}

.btn__left:link,
.btn__left:visited {
  box-shadow: inset 0 0 0 2px #CDCDCD;
  color: #CDCDCD;
}

.nav_link,
.nav_link:link,
.nav_link:visited {
  font-family: Arial, sans-serif;
  font-size: 1.5rem;
  line-height: 1.6;
  display: inline-block;
  border-bottom: 3px solid transparent;
  transition: all 0.2s;
}

.nav_link,
.nav_link:active {
  border-bottom: 3px solid #F1CDB3;
}

.nav_link__dark,
.nav_link__dark:link,
.nav_link__dark:visited,
.nav_link__dark:active {
  color: #545454;
  transition: all 0.2s;
}

.nav_link__dark:hover {
  color: #292929;
}

.nav_link__light,
.nav_link__light:link,
.nav_link__light:visited {
  color: #CDCDCD;
  transition: all 0.2s;
}

.nav_link__light:hover,
.nav_link__light:active {
  color: #FAFAFA;
}

.burger-icon {
  position: absolute;
  top: 29px;
  right: 20px;
  width: 3rem;
  height: 2px;
  background: #F1CDB3;
  display: none;
}
.burger-icon:before {
  content: "";
  position: absolute;
  top: 10px;
  width: 3rem;
  height: 2px;
  background: #F1CDB3;
}
.burger-icon:after {
  content: "";
  position: absolute;
  top: -10px;
  width: 3rem;
  height: 2px;
  background: #F1CDB3;
  transform: translateX(-14%);
}

.burger-icon_dark {
  position: absolute;
  top: 29px;
  right: 20px;
  width: 3rem;
  height: 2px;
  background: #000000;
  display: none;
}
.burger-icon_dark:before {
  content: "";
  position: absolute;
  top: 10px;
  width: 3rem;
  height: 2px;
  background: #000000;
}
.burger-icon_dark:after {
  content: "";
  position: absolute;
  top: -10px;
  width: 3rem;
  height: 2px;
  background: #000000;
  transform: translateX(-14%);
}

@media only screen and (max-width: 47.9375em) {
  .burger-icon {
    display: block;
  }
  .burger-icon_dark {
    display: block;
  }
}
.card-item {
  width: 27rem;
  height: 43.5rem;
  background-color: #FAFAFA;
  border-radius: 0.9rem;
  overflow: hidden;
  transition: all 0.2s;
}

.card_img {
  width: 27rem;
  height: 27rem;
}

.card-item:hover {
  box-shadow: 0 0.2rem 3.2rem 1.4rem rgba(13, 13, 13, 0.04);
  background-color: #FFFFFF;
  cursor: pointer;
}
.card-item:hover .button_secondary:link,
.card-item:hover .button_secondary:visited {
  background-color: #FDDCC4;
  box-shadow: inset 0 0 0 2px #FDDCC4;
}

.logo:link,
.logo:visited {
  min-width: 18.4rem;
  height: 6rem;
  justify-content: space-between;
  transition: all 0.4s;
}

.logo__title {
  font-size: 3.2rem;
  font-weight: 400;
  letter-spacing: 0.192rem;
}

.logo__subtitle {
  font-family: Arial, sans-serif;
  font-size: 1.3rem;
  padding-left: 0.4rem;
  letter-spacing: 0.13rem;
}

.logo_color .logo__title {
  color: #F1CDB3;
}
.logo_color .logo__subtitle {
  color: #FFFFFF;
}

.logo_dark .logo__title {
  color: #545454;
}
.logo_dark .logo__subtitle {
  color: #292929;
}

.logo:hover,
.logo:active {
  transform: scale(1.05);
  filter: brightness(80%);
}

.header-box {
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.nav {
  gap: 3.6rem;
}

.mobile-nav-box {
  display: none;
}

.mobile-nav {
  display: none;
}

@media only screen and (max-width: 47.9375em) {
  .nav {
    display: none;
  }
  .mobile-nav-box {
    width: 100%;
    position: fixed;
    height: 100vh;
    top: 0;
    right: 0;
    backdrop-filter: blur(2px);
    display: none;
  }
  .mobile-nav-box .mobile-nav {
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    gap: 3.6rem;
    height: 100vh;
    width: 32rem;
    justify-content: center;
    align-items: center;
    background-color: #292929;
  }
  .mobile-nav-box .mobile-nav .nav_link,
  .mobile-nav-box .mobile-nav .nav_link:link,
  .mobile-nav-box .mobile-nav .nav_link:visited {
    font-family: Arial, sans-serif;
    font-size: 3.2rem;
    line-height: 1.6;
    color: #FAFAFA;
    z-index: 888;
  }
}
@media only screen and (max-width: 36em) {
  .header-box {
    padding: 0 2rem;
  }
}
.start-section .container {
  gap: 4.2rem;
  flex-wrap: nowrap;
}

.start-box {
  width: 46rem;
  min-height: 32.2rem;
  justify-content: space-between;
  align-self: center;
  transform: translateY(-4rem);
  flex-shrink: 0;
}

.start-box__header {
  width: 32.2rem;
  transform: translateY(0.1rem);
}

.start-img {
  max-width: 69.8rem;
  min-width: 26rem;
  width: 80.37%;
  height: auto;
  margin-left: auto;
}

@media only screen and (max-width: 76.0625em) {
  .start-box {
    margin: 0 auto;
    transform: translateY(0);
  }
  .start-box .align-self__start {
    align-self: center;
  }
}
@media only screen and (max-width: 67.3125em) {
  .start-section .container {
    gap: 0;
    flex-wrap: wrap;
  }
}
@media only screen and (max-width: 36em) {
  .start-box {
    flex-shrink: 1;
    text-align: center;
  }
  .start-box__header {
    max-width: 20rem;
    margin: 0 auto;
    transform: translateY(0);
  }
  .start-box {
    max-width: 46rem;
    min-height: 29.6rem;
  }
}
.about-box {
  gap: 12rem;
}

.about-text {
  max-width: 43rem;
  min-height: 38rem;
  justify-content: space-between;
}

.about-header {
  width: 37rem;
  transform: translateY(0.1rem) translateX(-0.01rem);
}

.about-img {
  max-width: 30rem;
  width: 86.67%;
  height: auto;
}

@media only screen and (max-width: 76.0625em) {
  .about-box {
    gap: 8rem;
  }
  .about-text {
    order: -1;
  }
}
@media only screen and (max-width: 36em) {
  .about-box {
    gap: 4rem;
  }
  .about-header {
    max-width: 29rem;
    transform: translateY(0) translateX(-0.9rem);
  }
  .about-text {
    gap: 2.4rem;
    min-width: 27rem;
    padding: 0 1.5rem;
    text-align: justify;
  }
}
.pets-box {
  gap: 5.99rem;
}

.card-box {
  gap: 5.3rem;
}

.cards-list {
  gap: 9rem;
}

.card-item {
  align-items: center;
  gap: 3rem;
}

.pets-header {
  display: inline-block;
  transform: translateX(1px) translateY(-0.09px);
}

@media only screen and (max-width: 76.0625em) {
  .cards-list {
    gap: 4rem;
  }
  .card-box {
    gap: 1.2rem;
  }
}
@media only screen and (max-width: 67.3125em) {
  .card-item.page1:last-child {
    display: none;
  }
}
@media only screen and (max-width: 47.9375em) {
  .card-box {
    row-gap: 6rem;
  }
  .cards-list {
    justify-content: center;
  }
  .card-box .btn_circle {
    order: 2;
  }
  .card-box .btn_circle:first-child {
    margin-right: 10rem;
  }
}
@media only screen and (max-width: 36em) {
  .card-item.page1:nth-child(2) {
    display: none;
  }
  .card-box {
    width: 27rem;
    gap: 7.8rem;
    row-gap: 2rem;
  }
  .pets-box {
    gap: 4.1rem;
  }
  .card-box .btn_circle:first-child {
    margin-right: 0;
  }
}
.help-box {
  gap: 5.99rem;
}

.help-list {
  list-style: none;
  flex-wrap: wrap;
  gap: 11.95rem;
  row-gap: 5.3rem;
}

.help-item {
  gap: 3rem;
}

.help-icon {
  width: 6rem;
  height: 6rem;
}

@media only screen and (max-width: 76.0625em) {
  .help-box {
    gap: 5.8rem;
  }
}
@media only screen and (max-width: 67.3125em) {
  .help-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 6.4rem;
    row-gap: 5.5rem;
  }
}
@media only screen and (max-width: 36em) {
  .help-box {
    gap: 4.2rem;
  }
  .help-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 3.6rem;
    row-gap: 3rem;
  }
  .help-icon {
    width: 5rem;
    height: 5rem;
  }
  .help-item {
    gap: 2.1rem;
  }
  .help-item .header_4 {
    font-size: 1.5rem;
    line-height: 1.1;
    letter-spacing: 0.09rem;
  }
}
.donation {
  gap: 3.1rem;
}

.donation_img {
  margin: 1.1rem 0;
}

.donation_text-box {
  width: 38rem;
  gap: 2rem;
}

.credit-card:link,
.credit-card:visited {
  align-items: center;
  gap: 1.5rem;
  border-radius: 0.9rem;
  background-color: #F1CDB3;
  padding: 1rem 1.5rem;
  transition: all 0.2s;
}

.credit-card:hover,
.credit-card:active {
  filter: brightness(90%);
}

@media only screen and (max-width: 67.3125em) {
  .donation_text-box {
    order: -1;
  }
  .donation {
    gap: 4.8rem;
  }
}
@media only screen and (max-width: 67.3125em) {
  .donation_img {
    max-width: 50.5rem;
    width: 81.25%;
    height: auto;
  }
}
@media only screen and (max-width: 36em) {
  .donation_text-box {
    align-items: center;
  }
  .donation_text-box .header_4 {
    font-size: 1.5rem;
    line-height: 1.1;
    letter-spacing: 0.09rem;
  }
  .donation_text-box .header_5 {
    font-size: 1.4rem;
    line-height: 1.6;
    letter-spacing: 0.05rem;
  }
  .donation_text-box .align-self__start {
    align-self: center;
  }
  .donation_text-box .paragraph-s {
    text-align: justify;
    padding: 0 10px;
  }
  .donation {
    gap: 3.2rem;
  }
  .donation_img {
    width: 86.67%;
  }
}
.footer {
  background-image: url("../img/bg_noise_transparent@2x.png"), linear-gradient(135deg, #513D2F, #1A1A1C, #211F20 70% 100%);
  color: #F1CDB3;
}

.footer-list {
  flex-wrap: nowrap;
  gap: 14rem;
  list-style: none;
  padding-top: 4rem;
}

.footer-item {
  width: 30rem;
}

.footer-item:nth-child(1) {
  gap: 3.7555rem;
}

.footer-item:nth-child(2) {
  gap: 3.2rem;
}

.footer-item:not(:last-child) {
  padding-top: 1.6rem;
}

.footer-item:last-child {
  margin-left: auto;
}

.footer-icon {
  height: 3.2rem;
  width: auto;
}

.footer-contacts {
  align-items: center;
  gap: 2rem;
  transition: all 0.2s;
  flex-wrap: nowrap;
}

.footer-contacts:hover {
  filter: brightness(120%);
}

@media only screen and (max-width: 76.0625em) {
  .footer-list {
    flex-wrap: wrap;
    padding-top: 1.7rem;
    gap: 4rem;
    justify-content: center;
    row-gap: 6.3rem;
  }
  .footer-item:nth-child(1) {
    gap: 3.65rem;
  }
  .footer-item:nth-child(2) {
    gap: 3.11rem;
  }
  .footer-item:last-child {
    margin: 0 auto;
  }
  .footer2 .footer-item:nth-child(1) {
    gap: 3.8rem;
  }
}
@media only screen and (max-width: 36em) {
  .footer {
    background-image: url("../img/bg_noise_transparent@2x.png"), linear-gradient(to right, #513D2F, #1A1A1C);
  }
  .footer-list {
    gap: 2.4rem;
  }
  .footer-item .header_3 {
    width: 27rem;
    align-self: center;
  }
  .footer-item:first-child {
    align-items: center;
    gap: 3.9rem;
  }
  .footer-item:nth-child(2) {
    gap: 3.9rem;
  }
  .footer-item:not(:last-child) {
    padding-top: 1.2rem;
  }
  .footer-item:last-child {
    padding-top: 1.4rem;
  }
  .footer-item:last-child img {
    margin: 0 auto;
    max-height: 100%;
    width: 86.67%;
    height: auto;
  }
  .footer2 .footer-item:nth-child(1) {
    gap: 4.1rem;
  }
  .footer2 .footer-list {
    gap: 2.7rem;
  }
}
.header-section {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 11.95rem;
  z-index: 999;
}

.start-section {
  position: relative;
  background: url("../img/bg_noise_transparent@2x.png"), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 70%);
  align-items: end;
}

.start-section .container {
  padding-top: 6rem;
}

.about-section,
.our_pets-section,
.help-section,
.donation-section {
  padding: 8rem 0 10rem 0;
}

.our_pets-section {
  background-color: #F6F6F6;
}

.donation-section {
  background-color: #F6F6F6;
}

@media only screen and (max-width: 67.3125em) {
  .donation-section {
    padding: 8rem 0 8.8rem 0;
  }
  .start-section {
    background-image: url("../img/bg_noise_transparent@2x.png"), linear-gradient(135deg, #5B483A);
  }
  .start-section .container {
    padding-top: 3rem;
    padding-bottom: 0;
    gap: 10rem;
  }
}
@media only screen and (max-width: 36em) {
  .start-section .container {
    gap: 10.5rem;
  }
  .our_pets-section,
  .help-section,
  .donation-section {
    padding: 4.2rem 0;
  }
  .about-section {
    padding: 4.2rem 0;
  }
  .donation-section {
    padding: 4rem 0 3.1rem 0;
  }
}

/*# sourceMappingURL=main.css.map */
