@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media only screen and (max-width: 36em) {
      @content
    }
    //576px
  }

   @if $breakpoint == big-phone {
    @media only screen and (max-width: 47.9375em) {
      @content
    }
    //767px
  }

  @if $breakpoint == tab-port {
    @media only screen and (max-width: 67.3125em) {
      @content
    }
    // 1077px
  }

  @if $breakpoint == tab-land {
    @media only screen and (max-width: 76.0625em) {
      @content
    }
    // 1217px
  }

  @if $breakpoint == desktop {
    @media only screen and (max-width: 80em) {
      @content
    }
    // 1280px
  }
}