$color-primary: #F1CDB3;
$color-primary-light: #FDDCC4;

$color-light-s: #FAFAFA;
$color-light-l: #F6F6F6;
$color-light-xl: #FFFFFF;

$color-dark-s: #CDCDCD;
$color-dark-m: #B2B2B2;
$color-dark-l: #545454;
$color-dark-xl: #4C4C4C;
$color-dark-3xl: #292929;

$start-screen-gradient-bg: #5B483A;
$end-screen-gradient-bg: #262425;
$start-footer-gradient-bg: #513D2F;
$end-footer-gradient-bg: #1A1A1C;